/*Estilos del header*/

header{
    background-color: #85586f;
    padding: 20px;
}

header{
    .barraNavPrimera{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
        .barraNavPrimera .options{
            text-align: right;
    }
            .barraNavPrimera .options a{
                text-decoration: none;
                color: black;
                margin-left: 1rem;
                line-height: 2rem;
                font-weight: 600;
    }
    .logoImagen{
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column-reverse;
        vertical-align: middle;
    }
    .loloImagen img{
        width: 100%;
        height: 100%;
    }
    .barraNav{
        display: flex;
        flex-direction: row-reverse;
        background-color: #ac7d88;
        width: calc(100%-104px);
        height: 100px;
        vertical-align: middle;
    }
        .barraNav ul{
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }
            .barraNav ul li{
            display: inline-block;
            font-size: 24px;
            line-height: 24px;
            padding: 38px 20px;
    }
                .barraNav ul li a {
                    text-decoration: none;
                    font-weight: 500;
                    color: #f0d9ff;
            }
        }

.options{
    font-size: 20px;
}

.container-fluid {
    font-size: 25px}